.input-container {
    padding: 0em 0px 2px 0;
    border-bottom: 2px solid #dcdcdc;
}

.input {
    width:100%; 
    padding: 0.7em;
    padding-left: 1rem;
    box-sizing: border-box;
    background-color: #fff;
    border: 0;
    font-size: 1.2em;
    color: #000;
    outline: none;
}

.close-button {
    border-radius: 45px;
    border: 0;
    width: 21px;
    height: 21px;
    background-color: ivory;
    position: absolute;
    right: 1em;
    top: 1.2em;
    cursor: pointer;
    color: #af5b5e;
    font-weight: bold;
}

.list-item {
    position: relative;
    padding: 1em;
    border-bottom: 1px solid #ededed;
}

.container {
    background-color: #fff;
    box-shadow: 0 8px 29px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #dcdcdc;
    max-width: 500px;
    margin: auto;
}